* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 25px;
}

a {
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

body {
    width: 100%;
}

#body_wrapper {
    width: 1000px;
    margin: 0 auto;
}

#logo {
    width: 100%;
    margin: 0 auto;
}

#logo img {
    width: 100%;
}

#menu ul {
    text-align: center;
    margin-top: 8px;
}

#menu li {
    border: 1px solid green;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 7px;
}

#menu li:hover {
    background-color: linear-gradient(to bottom right, green, white);
}

#menu p {
    text-align: center;
    width: 400px;
}

.marquee {
    width: 500px;
    margin: 0 auto;
}

section {
    /* background-image: url(images/backimg.jpg); */
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
}

section .header {
    background: rgba(57, 131, 209, 0.2);
    padding: 5px;
    text-shadow: rgb(110, 110, 110)8px 4px 8px;
}

#prediction_wrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 15px;
}

#prediction_wrapper table {
    width: 80%;
    margin: 0 auto;
}

#prediction_wrapper table th {
    font-size: 25px;
    font-weight: bold;
}

#prediction_wrapper table td {
    text-align: center;
    border: 1px solid green;
    background-color: rgba(255, 255, 255, 0.6);
}

footer {}

.social_icons li a {
    font-size: 30px;
    text-align: center;
    transition: 2s all ease;
}

.social_icons li a:hover {
    font-size: 35px;
    color: blue;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    border: none;
}

.social_icons li {
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 3px solid red;
    transition: 2s all ease;
}

.social_icons li:hover {
    background-color: red;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    margin-top: 10px;
}

.vip_wrapper {
    background-color: rgba(255, 255, 255, 0.6);
}

#vipsec {
    text-align: justify;
}

#browser {
    text-align: center;
    font-size: 10px;
    background-color: green;
}

#vipsec2 {
    display: block;
    margin-top: 20px;
}

#vipsec2 table td {
    text-align: center;
    border: 1px solid grey;
    background-color: aquamarine;
    padding: 5px;
}

.vip_predict {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#vip_predict h3 {
    background: rgba(57, 131, 209, 0.2);
    text-shadow: rgb(110, 110, 110)8px 4px 8px;
}

#payment_sec {
    background: linear-gradient(to left, lightgreen, white);
    padding: 10px;
    text-align: left;
    flex: 1;
    box-shadow: rgb(110, 110, 110)8px 4px 8px;
    border-radius: 20px;
}

.form_inner {
    font-size: 60px;
}

#image_upload {
    background-color: red;
    font-size: 40px;
}

#payment_sec input,
button {
    font-size: 30px;
    width: 80%;
    padding: 5%;
    margin-top: 5px;
    border: none;
    border-bottom: 8px solid grey;
}

#payment_sec input,
button: {
    background-color: bisque;
}

.about {
    background-color: rgba(255, 255, 255, 0.7);
}

.abt_row1 {
    padding-left: 20px;
    align-items: center;
    text-align: center;
    flex: 1;
}

#bookn_code_ad {
    width: 700px;
    margin: 10px auto;
}

#bookn_code_ad img {
    width: 600px;
}

.abt_row2 {
    align-items: center;
    text-align: left;
}

#contact_wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.contact {
    width: 800px margin: 0 auto;
    text-align: center;
}

.contact form {
    text-align: left;
}

.contact form input,
button,
textarea {
    text-align: center;
    padding: 3px;
    margin: 5px;
}